.RatingIndicator {
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    li {
      user-select: none;
      display: inline-block;
      color: #fff;
      text-shadow: rgba(0, 0, 0, .4) 0 0 2px;
      font-weight: lighter;
      text-align: center;
      width: calc(100% / 7 - 4px);
      margin: 0 2px;
      line-height: 2.5em;
      border-radius: .3em;
      background: #999;

      &:nth-child(1) {
        &.active {
          background: $A;
        }
      }
      &:nth-child(2) {
        &.active {
          background: $B;
        }
      }
      &:nth-child(3) {
        &.active {
          background: $C;
        }
      }
      &:nth-child(4) {
        &.active {
          background: $D;
        }
      }
      &:nth-child(5) {
        &.active {
          background: $E;
        }
      }
      &:nth-child(6) {
        &.active {
          background: $F;
        }
      }
      &:nth-child(7) {
        &.active {
          background: $G;
        }
      }
    }

  }
}