@import "variables";
@import "rheostat-custom";
@import "rating-indicator";


.rating-picker {
  h3 {
    color: #f0f0f0;
  }
}

.PotentialRating {
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    li {
      user-select: none;
      display: inline-block;
      color: #fff;
      text-shadow: rgba(0, 0, 0, .4) 0 0 2px;
      font-weight: lighter;
      text-align: center;
      cursor: pointer;
      width: calc(100% / 7 - 4px);
      margin: 0 2px;
      border-radius: .3em;
      line-height: 2.5em;
      transition: .4s transform;

      &.enabled {
        &.selected {
          transform: translateY(-0px) scaleX(1.12) scaleY(1.25);
          transition: .4s transform;
        }
      }

      background: #999;

      &:nth-child(1) {
        &.enabled {
          background: $A;
        }
      }
      &:nth-child(2) {
        &.enabled {
          background: $B;
        }
      }
      &:nth-child(3) {
        &.enabled {
          background: $C;
        }
      }
      &:nth-child(4) {
        &.enabled {
          background: $D;
        }
      }
      &:nth-child(5) {
        &.enabled {
          background: $E;
        }
      }
      &:nth-child(6) {
        &.enabled {
          background: $F;
        }
      }
      &:nth-child(7) {
        &.enabled {
          background: $G;
        }
      }

    }
  }
}

